* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    color: #222;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    height: 75px;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left-side {
    display: flex;
    align-items: center;
    gap: 41px;
}

.header__right-side {
    display: flex;
    gap: 32px;
    align-items: center;
}

.top {
    display: flex;
    align-items: center;
    background-color: #F1E4E6;
}

.top__content {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.top__heading {
    font-size: 48px;
    font-weight: 900;
}

.top__title {
    font-size: 34px;
    font-weight: 700;
}

.top__title span {
    color: #F16D7F;
}

.offer {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 65px;
    padding-bottom: 96px;
}

.offer__card {
    position: relative;
}

.offer__card_big {
    grid-column: 1 / 4;
}

.offer__content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.offer__subtitle {
    color: #fff;
    font-size: 16px;
}

.offer__title {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

.products {
    padding-bottom: 60px;
}

.products__title {
    font-size: 30px;
    text-align: center;
}

.products__subtitle {
    font-size: 14px;
    color: #9F9F9F;
    text-align: center;
}

.products__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.product__card {
    line-height: 0;
}

.product__img {
    height: 420px;
}

.product__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px;
    background-color: #F8F8F8;
}

.product__title {
    color: #000;
    font-size: 13px;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.product__description {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.product__price {
    color: #F16D7F;
    font-size: 16px;
    line-height: normal;
}

.products__btn_wrapper {
    display: flex;
    justify-content: center;
}

.btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.btn-outline {
    padding: 15px 39px;
    border: 1px solid #F26376;
    color: #F26376;
    font-size: 16px;
}